/* CardButton Component Styles */

.card-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(1px);
  z-index: 1;
}

/* Cards Section */
.cards-section {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 400px;
  gap: var(--spacing);
  margin-top: calc(2 * var(--spacing));

  .card-button {
    cursor: pointer;
    color: var(--dark);
    background: var(--primary);
    border: 1px solid transparent;
    border-radius: calc(6 * var(--radius));
    padding: var(--spacing);
    padding-left: calc(1.5 * var(--spacing));
    text-align: start;
    transition: all 0.3s ease;

    &.card-secondary {
      background: #fff;
    }

    .card-content {
      cursor: default;
      position: absolute;
      display: flex;
      flex-flow: column;
      left: calc(var(--spacing) - 2px);
      bottom: calc(var(--spacing) - 2px);
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 0.75s cubic-bezier(.19, 1, .22, 1);
      border-radius: calc(6 * var(--radius));
      z-index: 1;
      padding: var(--spacing);
      padding-left: calc(1.5 * var(--spacing));

      .card-header {
        margin-bottom: calc(2 * var(--spacing));

        h4 {
          font-size: 1.5em;
        }
      }

      .current-settings {
        display: flex;
        flex-flow: column;
        height: 100%;

        p {
          color: var(--dark);
          font-size: 1rem;
          font-weight: 800;
          display: flex;
          justify-content: space-between;
        }

        .pref-btn {
          border-radius: calc(1 * var(--radius));
        }

        .setting-label {
          color: var(--dark);
        }

        .setting-value {
          color: var(--dark);
          line-height: 75%;
        }
      }
    }

    /* Expanded card styles */
    &.card-open .card-content {
      background-color: inherit;
      opacity: 1;
      width: calc(100% - var(--spacing));
      height: calc(100% - var(--spacing));
    }

    .card-header {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      gap: calc(1.5 * var(--spacing));

      h4 {
        margin-top: calc(0.5 * var(--spacing));
        text-transform: none;
      }

      .btn-icon {
        border-radius: 100%;
        padding: calc(1 * var(--spacing));
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--dark);
        color: var(--light);

        svg {
          height: 18px;
          width: 18px;

          path {
            fill: currentColor;
          }
        }
      }
    }

    &.card-secondary {
      background: var(--dark);
      border-color: var(--offwhite);
      color: var(--white);
      .btn-icon {
        background: transparent;
        color: var(--offwhite);
        border: 1px solid var(--offwhite);
      }
      .card-content {
        color: var(--white);
      }
    }

    >p {
      margin-bottom: 0;
      margin-top: calc(2 * var(--spacing));
      color: var(--dark);
      font-weight: 800;
      font-size: 1.75em;
    }


    .settings-flow {
      background: var(--dark);
      border-radius: calc(3 * var(--radius));

      p {
        color: var(--primary)
      }

      .choice-buttons {}
    }
  }
}