/* Main Window Styles - Minimalistic Typewriter Theme */

/* Layout */
.my-main-window {
  background: var(--dark);
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

header {
  background: var(--dark);
  padding: calc(0.25 * var(--spacing)) var(--spacing);
  margin-bottom: calc(1 * var(--spacing));
  /* border-bottom: 1px solid var(--secondary); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag;

  .app-logo {
    display: flex;
    align-items: flex-end;
    gap: calc(0.5 * var(--spacing));

    h1 {
      line-height: 1;
    }

    .version {
      font-size: 0.8em;
      line-height: 1.25;
    }
  }
}

.header-controls {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  -webkit-app-region: no-drag;

  .btn-icon {
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: row;
    cursor: pointer;
    padding-left: calc(2.5 * var(--spacing));

    &::before {
      content: '';
      position: absolute;
      left: calc(0.25 * var(--spacing));
      display: block;
      /* width: 26px;
      height: 32px; */
      width: calc(2* var(--spacing));
      height: 100%;
      background-color: var(--primary);
      mask: center center no-repeat;
      transition: background-color 0.3s ease-in-out;
    }

    &:hover::before {
      background-color: var(--dark);
    }

    &.discord-btn::before {
      mask-image: url('../../assets/images/discord.svg');
      mask-size: 16px;
    }
  }
}


.app-header h1 {
  margin: 0;
}

.tab-navigation {
  display: flex;
  gap: calc(0.5 * var(--spacing));
}

.tab-button {
  padding: calc(0.25 * var(--spacing)) calc(0.5 * var(--spacing));
  background: var(--dark);
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 0.2s ease;
  text-transform: none;
  letter-spacing: normal;
  align-self: auto;
}

.tab-button:hover {
  background: var(--secondary);
  color: var(--dark);
  border-color: var(--secondary);
  transform: none;
  box-shadow: none;
}

.tab-button.active {
  background: var(--primary);
  color: var(--dark);
  border-color: var(--primary);
}

.tab-button.active:hover {
  background: var(--light-gray);
  transform: none;
  box-shadow: none;
}

.window-controls {
  display: flex;
  gap: 2px;
}

.window-control-btn {
  background: transparent;
  border: none;
  color: var(--secondary);
  padding: 2px 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: var(--radius);
}

.window-control-btn:hover {
  background: var(--secondary);
  color: var(--dark);
}

.close-btn:hover {
  background: #e81123;
  /* Standard red for close button */
  color: var(--primary);
}

main {
  padding: var(--spacing);
  padding-top: 0;
  display: grid;
  gap: var(--spacing);
  grid-template-columns: 70% auto;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--dark);
}

main::-webkit-scrollbar {
  width: 6px;
  background: var(--dark);
}

main::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: var(--radius);
}

/* Sections */
section {
  background: var(--dark);
  border-radius: var(--radius);
  padding: var(--spacing);
  box-shadow: none;
  display: flex;
  flex-flow: column;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.form-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing);
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: calc(0.25 * var(--spacing));
  min-width: 0;
}

.widget-toggle-btn {
  padding: calc(0.25 * var(--spacing)) calc(0.5 * var(--spacing));
}

/* Game section */

.current-game-info {
  background: var(--dark);
  border-radius: var(--radius);
  padding: calc(1.5 * var(--spacing));
  border: 1px solid var(--secondary);
  text-align: center;
  position: relative;
}

.game-detected h3 {
  color: var(--light);
  text-shadow: none;
}

.game-status {
  margin: 0 0 var(--spacing) 0;
}

.game-status.supported {
  color: var(--primary);
}

.game-status.unsupported {
  color: var(--secondary);
}

.no-game p {
  color: var(--secondary);
}

/* Multiple Games */

.sensitivity-suggestion {
  position: relative;
}

.game-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing);

  p {
    font-size: 1em;
    margin: 0;
  }
}

.multi-games-nav {
  position: absolute;
  top: calc(-0.75* var(--spacing));
  right: calc(0.5* var(--spacing));
  background-color: var(--dark);
  display: flex;
  flex-flow: row;
  gap: calc(0.5* var(--spacing));
  align-items: center;
}

.nav-arrow {
  background: var(--primary);
  color: var(--dark);
  border: none;
  border-radius: var(--radius);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;

  svg {
    height: calc(1.5* var(--spacing));
    width: calc(1.5* var(--spacing));
  }
}

.nav-arrow.prev-arrow {}

.nav-arrow.next-arrow svg {
  transform: rotate(180deg);
}

.nav-arrow:hover:not(:disabled) {
  background: var(--light-gray);
  transform: scale(1.05);
}

.nav-arrow:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.game-display {
  text-align: center;
  flex: 1;

  p {
    font-size: 1em;
    margin: 0;
  }
}

.game-counter {
  display: block;
  font-size: 0.9rem;
  color: var(--secondary);
  margin-top: calc(0.25 * var(--spacing));
}

/* Canon Setting */
.canon-settings-container {
  padding: var(--spacing);
  padding-top: calc(2 *var(--spacing));
  display: grid;
  grid-template-columns: 50% 50%;
}

.canonical-settings {
  h3 {
    font-weight: 300;
  }

  .reset-button {
    margin-top: calc(0.5 * var(--spacing));
  }
}

.canonical-form {
  .form-buttons {
    display: flex;
    gap: var(--spacing);
    align-items: center;
    margin-top: calc(0.5 * var(--spacing));
  }

  .save-button,
  .reset-button {
    padding: calc(1.15* var(--spacing)) calc(4* var(--spacing));
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1;
    background: var(--primary);
    color: var(--dark);
    border-radius: var(--radius);
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: bold;
  }

  .reset-button {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
  }

  .save-button:hover,
  .reset-button:hover {
    background: var(--light-gray);
  }

  .save-button:disabled,
  .reset-button:disabled {
    opacity: 0;
  }
}

/* Notes Section */
.notes-section {
  grid-column: span 2;
  font-size: 0.95em;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: flex-end;

  h4 {
    margin-bottom: calc(0.5 * var(--spacing));
  }
}

/* Settings */
.settings-container {
  padding: var(--spacing);

  .hotkeys-section {
    .hotkey-info {
      .hotkey-description {
        margin-bottom: var(--spacing);
      }
    }
  }

  .reset-btn {
    display: none;
  }

  .select-theme {
    label {
      margin-bottom: calc(0.25 * var(--spacing));
    }
  }
}

.settings-grid {
  display: flex;
  flex-direction: column;
  gap: calc(0.25 * var(--spacing));
}

.setting-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(0.25 * var(--spacing)) 0;
  border-bottom: 1px solid var(--secondary);
}

.setting-row:last-child {
  border-bottom: none;
}

.setting-label {
  color: var(--secondary);
}

.setting-row:first-child .setting-label {
  color: var(--primary);
}

.setting-value {
  color: var(--light);
}

/* Sensitivity */
.sensitivity-suggestion {
  p {
    font-size: 1.2em;
    margin: calc(0.5 * var(--spacing)) 0;
  }

  p.suggested-value {
    margin: 0;
    color: var(--light);
    text-shadow: none;
    font-size: 2.5rem;
  }
}

.suggestion-details {
  text-align: center;
}

.conversion-info {
  margin: 0 0 calc(0.125 * var(--spacing)) 0;
  color: var(--secondary);
}

.cm360-info {
  margin: 0;
  color: var(--secondary);
}

/* Utilities */
.help-text {
  color: var(--secondary) !important;
}

.debug-section {
  display: none;
}