/* Onboarding Wrapper Styles */

.my-main-window.onboarding .app-content {
  grid-template-columns: 1fr;
}

.onboarding-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
}

.onboarding-container {
  background: var(--dark);
  border-radius: calc(5 * var(--radius));
  padding: calc(2 * var(--spacing));
  max-width: 600px;
  height: 375px;
  width: 100%;
  border: 1px solid var(--secondary);
  position: relative;
}